.home-ensaio-box-1 {
    background-image: url('../images/portfolio/ensaio1/valdeir.jpg');
}
.home-ensaio-box-2 {
    background-image: url('../images/portfolio/ensaio2/ensaio2.jpg');
}
.home-ensaio-box-3 {
    background-image: url('../images/portfolio/ensaio3/ensaio3.jpg');
}
.home-ensaio-box-4 {
    background-image: url('../images/portfolio/ensaio4/ensaio4.jpg');
}
.home-ensaio-box-5 {
    background-image: url('../images/portfolio/ensaio5/ensaio5.jpg');
}
.home-ensaio-box-6 {
    background-image: url('../images/portfolio/ensaio6/ensaio6.jpg');
}